<!-- -->

<launch>
  <!-- Velodyne -->
  <!-- Uncomment the line below for use with live data-->
  <include file="$(find mapping_and_path_planning)/launch/velodyne/VLP16.launch" />

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mapping_and_path_planning)/rviz/VLP16_pointcloud.rviz"
    required="true" output="screen"/>

  <!-- Sample LiDAR Data Playback-->
  <!--  Comment out the line below for use with live data-->
  <!-- <node pkg="rosbag" type="play" name="play" output="screen" args="$(find mapping_and_path_planning)/bagfiles/2021-09-10-14-12-22.bag"/> -->

</launch>
